{% extends 'base.html' %}
{% block title %}Brand Dashboard{% endblock title %}
{% block main_content %}

    <div class="container-md p-5 m-5">



    <h1 class="text-center" >Welcome! Register Yourself Here</h1>

                <div class="d-flex justify-content-center align-items-center" style="height: 70vh;">

    <form action="{% url 'usignup' %}" style="width: 40rem" method="post">
        {% csrf_token %}

        <label for="username" class="form-label">Username</label>
        <input class="form-control" type="text" placeholder="Username" name="username" id="username">
        <br>
        <label for="email" class="form-label">Email</label>
        <input class="form-control" type="email" placeholder="Email or Phone" name="email" id="email">
        <br>
        <label for="password1" class="form-label">Password</label>
        <input class="form-control" type="password" placeholder="Password" id="password1" name="password1">
        <br>
        <label for="password2" class="form-label">Confirm Password</label>
        <input class="form-control" type="password" placeholder="Confirm Password" id="password2" name="password2">
        <br>
        <button type="submit" class="btn btn-primary">Signup</button><br>

        <a href="{% url 'ulogin' %}" >i have already account</a>
    </form>
    </div>
    </div>

{% endblock main_content %}
{% block myscripts %}



{% endblock myscripts %}