{% extends 'base.html' %}
{% block title %}Brand Dashboard{% endblock title %}
{% block main_content %}
    <div class="container-md">
        <h1>Welcome To PRIR</h1>
        <p>Enter your Email to Vie your account details</p>
        <form action="/user/ulogin/" method="post"> {% csrf_token %}
          <div class="mb-3">
            <label for="uemail" class="form-label">Email address</label>
            <input type="email" class="form-control" id="uemail" name="email" >
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
  </div>

    </div>

{% endblock main_content %}
{% block myscripts %}



{% endblock myscripts %}