<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register Brand</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body>
  <div class="container-md">
    <h1>Welcome! Register Your Brand</h1>
    <p>Register your brand on our store to list your products on our store and make your brand available to more online users</p>
    <form class="row g-3">
        <div class="col-md-0">
        <label for="brandname" class="form-label">Brand Name</label>
        <input type="text" class="form-control" id="brandname">
      </div>
      <div class="col-md-6">
        <label for="brandemail" class="form-label">Email</label>
        <input type="email" class="form-control" id="brandemail">
      </div>
      <div class="col-md-6">
        <label for="loginpassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="loginpassword">
      </div>
      <div class="col-12">
        <label for="inputAddress" class="form-label">Address</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
      </div>
      <div class="col-md-6">
        <label for="inputCity" class="form-label">City</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="col-md-4">
        <label for="inputState" class="form-label">State</label>
        <select id="inputState" class="form-select">
          <option selected>Punjab</option>
          <option>Sindh</option>
          <option>Khyber Pakhtunkhwa</option>
          <option>Balochistan</option>
          <option>Azad Jammu and Kashmir</option>
        </select>
      </div>
      <div class="col-md-2">
        <label for="inputZip" class="form-label">Zip</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
      <div class="mb-3">
          <label for="formFile" class="form-label">Default file input example</label>
          <input class="form-control" type="file" id="formFile">
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Sign in</button>
      </div>
    </form>
      <p>Already have an account?<a href="/brand_login">Login Here</a></p>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>