{% extends 'base.html' %}
{% block title %}Brand Register{% endblock title %}

{% block main_content %}

  <div class="container-md p-5 m-5" >
      {% load static %}
{#      <img src="{%static 'brand_register.png' %}" width="200" height="200">#}
    <h1 class="text-center" >Welcome! Register Your Brand</h1>
    <p class="text-center">Register your brand on our store to list your products on our store and make your brand available to more online users</p>


      <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="mx-auto">
      <form class="row g-3" action="/brand_register/" method="POST" enctype="multipart/form-data" style="width: 50rem; height: 35rem;">{% csrf_token %}
        <div class="col-md-0">
        <label for="brandname" class="form-label">Brand Name</label>
        <input type="text" class="form-control" id="brandname" name="Brand_Name">
      </div>
      <div class="col-md-6">
        <label for="brandemail" class="form-label">Email</label>
        <input type="email" class="form-control" id="brandemail" name="Brand_Email">
      </div>
      <div class="col-md-6">
        <label for="loginpassword" class="form-label">Password</label>
        <input type="text" class="form-control" id="loginpassword" name="Brand_Password">
      </div>
      <div class="col-12">
        <label for="inputAddress" class="form-label">Address</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" name="Brand_Address">
      </div>
      <div class="col-md-6">
        <label for="inputCity" class="form-label">City</label>
        <input type="text" class="form-control" id="inputCity" name="Brand_City">
      </div>
      <div class="col-md-4">
        <label for="inputState" class="form-label">State</label>
        <select id="inputState" class="form-select" name="Brand_State">
          <option selected>Punjab</option>
          <option>Sindh</option>
          <option>Khyber Pakhtunkhwa</option>
          <option>Balochistan</option>
          <option>Azad Jammu and Kashmir</option>
        </select>
      </div>
      <div class="col-md-2">
        <label for="inputZip" class="form-label">Zip</label>
        <input type="text" class="form-control" id="inputZip" name="Brand_Zip">
      </div>
      <div class="mb-3">
          <label for="brand_logo" class="form-label">Brand Logo</label>
          <input class="form-control" type="file" id="brand_logo" name="Brands_Logo">
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Sign up</button>
      </div>
    </form>

      <p>Already have an account?<a href="/brand_login">Login Here</a></p>
  </div>
  </div>
  </div>


{% endblock main_content %}

{% block myscripts %}
{% endblock myscripts %}