{% extends 'base.html' %}
{% block title %}Brand Register{% endblock title %}

{% block main_content %}
  <div class="container-md p-5 m-5">
    <h1 class="text-center" >Welcome Back!</h1>
    <p class="text-center" >Login to your store and manage your products and orders form customer</p>
<div class="d-flex justify-content-center align-items-center" style="height: 40vh;">
   <form action="/brand_login/" method="post" style="width: 40rem"> {% csrf_token %}
      <div class="mb-3">
        <label for="brand_email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="brand_email" name="brand_email" >
      </div>
      <div class="mb-3">
        <label for="brand_password" class="form-label">Password</label>
        <input type="text" class="form-control" id="brand_password" name="brand_password">
        <i class="bi bi-eye-slash" id="togglePassword"></i>
      </div>
{#      <div class="mb-3 form-check">#}
{#        <input type="checkbox" class="form-check-input" id="brand_remember">#}
{#        <label class="form-check-label" for="brand_remember">Remember me</label>#}
{#      </div>#}
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
  </div>
  </div>
{% endblock main_content %}

{% block myscripts %}
     <script>
        const togglePassword = document
            .querySelector('#togglePassword');
        const password = document.querySelector('#brand_password');
        togglePassword.addEventListener('click', () => {
            // Toggle the type attribute using
            // getAttribure() method
            const type = password
                .getAttribute('type') === 'password' ?
                'text' : 'password';
            password.setAttribute('type', type);
            // Toggle the eye and bi-eye icon
            this.classList.toggle('bi-eye');
        });
    </script>
{% endblock myscripts %}