{% extends 'base.html' %}
{% block title %}Brand Dashboard{% endblock title %}
{% block main_content %}
    <div class="container-md">

        <h1 class="title">Shopping Cart</h1>

    <div class="container m-3 p-4 round-3">

    {% if cart_products %}

        <div class="box mb-6">
            <div class="table">
                <table class="table is-fullwidth is-striped align-middle">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for item in cart_products %}

                            <tr>
                                <td>
                                    <figure class="image is-64x64">
                                        <img class="rounded" src="/media/{{PImage|get_item:item.Product_id}}" alt="{{item.Product_Name}}" style="width: 5rem; height: 7rem; object-fit: cover">
                                    </figure>
                                </td>
                                <td>
                                    <a class="h5 text-dark" style="text-decoration: none" href="{% url 'get_single_product' item.slug %}">{{item.Product_Name}}</a>
                                </td>
                                <td>

                                    <a style="text-decoration: none" href="?change_quantity={{ item.Product_id }}&quantity=-1">-</a>
                                    <span class="border m-3 p-2 rounded">{{item.Quantity}}</span>
                                    <a style="text-decoration: none" href="?change_quantity={{ item.Product_id }}&quantity=1">+</a>

                                </td>

                                <td>${{ item.Product_Price }}</td>
                                <td>
                                    <a href="?remove_from_cart={{item.Product_id}}" class="delete btn btn-danger">Remove</a>
                                </td>
                            </tr>

                        {% endfor %}
                    </tbody>

                    <tfoot>
                        <tr>
                            <td></td>
                            <td><strong>Total Cost</strong> </td>
                            <td colspan="2">${{total_cost}}</td>
                            <td colspan="2"><a href="/" class="btn  btn-outline-primary"> <span class="text">Continue Shopping</span> </a></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>


    <div class="container-md border m-3 p-5">
      <form class="row g-3" action="/checkout/" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <div class="col-md-0">
        <label for="name" class="form-label">Full Name</label>
        <input type="text" class="form-control" id="name" name="name">
      </div>
      <div class="col-md-6">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email">
      </div>
       <div class="col-md-6">
        <label for="phone" class="form-label">Phone</label>
        <input type="text" class="form-control" id="phone" name="phone">
      </div>
      <div class="col-12">
        <label for="Address" class="form-label">Address</label>
        <input type="text" class="form-control" id="address" placeholder="1234 Main St" name="address">
      </div>
      <div class="col-md-6">
        <label for="city" class="form-label">City</label>
        <input type="text" class="form-control" id="city" name="city">
      </div>
      <div class="col-md-6">
        <label for="state" class="form-label">State</label>
        <input type="text" class="form-control" id="state" name="state">
      </div>
      <div class="col-md-6">
        <label for="zip" class="form-label">Zip</label>
        <input type="text" class="form-control" id="zip" name="zip">
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">CHECKOUT</button>
      </div>
      </form>
    </div>
    {% endif %}


    </div>


{% endblock main_content %}
{% block myscripts %}



{% endblock myscripts %}