{% extends 'base.html' %}
{% block title %}Brand Dashboard{% endblock title %}
{% block main_content %}
    <div class="container-md">
         <form class="row g-3" action="/image_recognition/" method="POST" enctype="multipart/form-data">{% csrf_token %}
         <div class="mb-3">
          <label for="productimage" class="form-label">Product Image</label>
          <input class="form-control" type="file" id="productimage" multiple name="dress">
         </div>
         <div class="col-12">
            <button type="submit" class="btn btn-primary">Upload</button>
         </div>
         </form>
    </div>
{% endblock main_content %}