{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% load static %}
{% block main_content %}


    <div class="category text-center container m-5">
        <h2>Out Categories</h2>
        <h4>Finding Best Products Now in Your Fingertips</h4>

    <div class="row m-5 p-5">
        <div class="col-3 border rounded-5 d-flex justify-content-between p-5">
            <h5>Men Shirts</h5>
            <img src="{% static 'mansshirt.png' %}" style="width: 50px; height: 50px;">
        </div>
        <div class="col-3 border rounded d-flex justify-content-between p-5">
            <h5>Men Kurtas</h5>
            <img src="{% static 'menskurta.png' %}"  style="width: 50px; height: 50px;">
        </div>
        <div class="col-3 border rounded d-flex justify-content-between p-5">
            <h5>Women Kurtis</h5>
            <img src="{% static 'womenkurta.jpg' %}"  style="width: 50px; height: 50px;">
        </div>
        <div class="col-3 border rounded d-flex justify-content-between p-5">
            <h5>Women Suits</h5>
            <img src="{% static 'womensuit.png' %}"  style="width: 50px; height: 50px;">
        </div>
    </div>

    </div>

    <div class="container-xl p-5 m-5">
	<div class="row">
		<div class="col-md-12 text-center">
			<h2 class="mb-5">Featured <b>Products</b></h2>
			<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">

			<!-- Wrapper for carousel items -->
			<div class="carousel-inner">
				<div class="item carousel-item active">
					<div class="row">
                         {% for product in product %}
                             {% if forloop.counter <= 4 %}
						    <div class="col-sm-3">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img src="/media/{{PImage|get_item:product.id}}" class="img-fluid" alt="">
								</div>
								<div class="thumb-content">
									<h4>{{ product.Product_Name }}</h4>
{#									<div class="star-rating">#}
{#										<ul class="list-inline">#}
{#											<li class="list-inline-item"><i class="fa fa-star"></i></li>#}
{#											<li class="list-inline-item"><i class="fa fa-star"></i></li>#}
{#											<li class="list-inline-item"><i class="fa fa-star"></i></li>#}
{#											<li class="list-inline-item"><i class="fa fa-star"></i></li>#}
{#											<li class="list-inline-item"><i class="fa fa-star-o"></i></li>#}
{#										</ul>#}
{#									</div>#}
									<p class="item-price"><strike>400.00 PKR</strike> <b>{{ product.Product_Price }} PKR</b></p>
									<a href="{% url 'get_single_product' product.slug %}" class="btn btn-primary">Add to Cart</a>
								</div>
							</div>
						</div>
                             {% endif %}
                         {% endfor %}
					</div>
				</div>
				<div class="item carousel-item">
					<div class="row">
                         {% for product in product %}
                             {% if forloop.counter > 4 %}
						    <div class="col-sm-3">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img src="/media/{{PImage|get_item:product.id}}" class="img-fluid" alt="">
								</div>
								<div class="thumb-content">
									<h4>{{ product.Product_Name }}</h4>
{#									<div class="star-rating">#}
{#										<ul class="list-inline">#}
{#											<li class="list-inline-item"><i class="fa fa-star"></i></li>#}
{#											<li class="list-inline-item"><i class="fa fa-star"></i></li>#}
{#											<li class="list-inline-item"><i class="fa fa-star"></i></li>#}
{#											<li class="list-inline-item"><i class="fa fa-star"></i></li>#}
{#											<li class="list-inline-item"><i class="fa fa-star-o"></i></li>#}
{#										</ul>#}
{#									</div>#}
									<p class="item-price"><strike>400.00 PKR</strike> <b>{{ product.Product_Price }} PKR</b></p>
									<a href="{% url 'get_single_product' product.slug %}" class="btn btn-primary">Add to Cart</a>
								</div>
							</div>
						</div>
                             {% endif %}
                         {% endfor %}
					</div>
				</div>
			</div>
			<!-- Carousel controls -->
			<a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
				<i class="fa fa-angle-left"></i>
			</a>
			<a class="carousel-control-next" href="#myCarousel" data-slide="next">
				<i class="fa fa-angle-right"></i>
			</a>
		</div>
		</div>
	</div>
</div>


  <div class="container m-5">
    <h2 class="text-center">All Products</h2>
    <div class="row m-3 p-5">
      {% for product in product %}
        <div class="col-md-3 mb-3">
        <a href="{% url 'get_single_product' product.slug %}" >
          <div class="card text-center">
            <img src="/media/{{PImage|get_item:product.id}}" class="card-img-top img-fluid rounded" style="width: 20rem;height: 18rem; object-fit: cover" alt="{{ product.Product_Name }}">
             <div class="card-body">
              <h5 class="card-title">{{ product.Product_Name }}</h5>
{#              <p class="card-text">{{ product.Product_Description }}</p>#}
                 <p class="card-text">{{ product.Product_Price }} $</p>
{#              <a href="{% url 'get_single_product' product.slug %}" class="btn btn-primary">View</a>#}
            </div>
          </div>
            </a>
        </div>
      {% endfor %}
    <h5 class="card-title"></h5>
    </div>
</div>

{% endblock %}

