{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block main_content %}

  <div class="container m-5">
    <h2 class="text-center">Products</h2>
    <div class="row m-3 p-5">
      {% for product in product %}
        <div class="col-md-3">
          <div class="card">
            <img src="/media/{{PImage|get_item:product.id}}" class="card-img-top img-fluid rounded" style="width: 20rem;height: 18rem; object-fit: cover" alt="{{ product.Product_Name }}">
             <div class="card-body">
              <h5 class="card-title">{{ product.Product_Name }}</h5>
              <p class="card-text">{{ product.Product_Description }}</p>
              <p class="card-text">Price : {{ product.Product_Price }} $</p>
              <a href="{% url 'get_single_product' product.slug %}" class="btn btn-primary">View</a>
            </div>
          </div>
        </div>
      {% endfor %}
    <h5 class="card-title"></h5>
    </div>
</div>

{% endblock %}

