{% extends 'base.html' %}
{% block title %}Brand Dashboard{% endblock title %}
{% block main_content %}

  <div class="container-md m-5 p-5">

    <h1>Add New Product</h1>
    <p>Add new product to your store</p>

<div class="d-flex justify-content-center align-items-center">

    <form class="row g-3" action="/product_add/" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <div class="col-md-0">
        <label for="productname" class="form-label">Product Name</label>
        <input type="text" class="form-control" id="productname" name="Product_Name">
      </div>
      <div class="col-md-6">
        <label for="productprice" class="form-label">Price</label>
        <input type="text" class="form-control" id="productprice" name="Product_Price">
      </div>
      <div class="col-md-6">
        <label for="productcategory" class="form-label">Category</label>
        <select id="productcategory" class="form-select" name="Product_Category">
          <option selected>Men Suits</option>
          <option>Men Kurtas</option>
          <option>Women Kurtis</option>
          <option>Women Suits</option>
        </select>
      </div>
      <div class="col-12">
       <label for="productdescription" class="form-label">Product Description</label>
       <textarea class="form-control" id="productdescription"  name="Product_Description"  rows="3"></textarea>
      </div>
      <div class="col-12">
       <label for="productstock" class="form-label">Product Stock</label>
       <input type="number" class="form-control" id="productprice" name="Product_Stock">
      </div>
      <div class="mb-3">
          <label for="productimage" class="form-label">Product Image</label>
          <input class="form-control" type="file" id="productimage" multiple name="Product_Image">
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Upload</button>
      </div>
    </form>
  </div>
  </div>


{% endblock main_content %}

{% block myscripts %}
{% endblock myscripts %}